
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Quicksand", serif;
   width: 1240px;
}
/* nav section starts */
.wrapper{
  width: 1040px;
  margin: 0px auto;
}
.navbar{

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
  margin: 0 auto;
}
.logo{
  display: flex;
  align-items: center;
}
.school{
  font-size: 2rem;
  font-weight: 700;
}
.btn-primary{
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background-color: orange;
  padding: 5px 25px;
  border: none;
  border-radius: 8px;
}
.nav-links{
  display: flex;
  gap: 0px 50px;
}
.nav-item{
  list-style: none;
}
.nav-link{
  text-decoration: none;
  color: black;
}
.nav-link-1{
  color: orange;
}
.nav-link-2{
  color: skyblue;
}
.nav-link-3{
  color: #05D4DF;
}
.nav-link-4{
  color: #5D58EF;
}
/* nav section ends */
/* banner section starts */
.banner{

  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.banner-description{
  margin: 20px 0px;
}
.banner-image{
  width: 468px;
}
.banner-image img{
  width: 100%;
}
.banner-title{
  font-size: 3.5rem;
  font-weight: bold;
}
.empower{
  color: orange;
}
.vision{
  color: skyblue;
}
.btn-1{
  background-color: black;
  color: white;
}
 .curriculum{
  background: url(assets/bg.png);
  background-position: cover;
  background-repeat: no-repeat;
 }
 .card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
 }
.card{
  text-align: center;
  width: 300px;
  padding: 0px 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, .195);
  background: linear-gradient(rgb(196, 229, 243) 5%, #ffffff 95%)
}
.card-2{
  text-align: center;
  width: 300px;
  padding: 0px 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, .195);
  background: linear-gradient( #e8cca35d 5%, #ffffff 95%)
}
.card-3{
  text-align: center;
  width: 300px;
  padding: 0px 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, .195);
  background: linear-gradient(#c088d54c 5%,  #ffffff 95%)
}
.card-container{
  margin: 40px 0px;
}
 .card-heading{
  text-align: center;
  margin-top: 60px;
  font-size: 3rem;
  font-weight: bold;
 }
  .card-title{
    font-size: 1.5rem;
    font-weight: bold;
  }
  .img-card{
    margin: 40px;
  }
  .card-description{
    padding: 20px 0px;
  }
  .read{
    color: #64C8FF;
    margin-bottom: 20px;
  }
  .read-2{
    color: #F0AA00;
    margin-bottom: 20px;
  }
  .read-3{
    color: #8700FF;
    margin-bottom: 20px;
  }
/* curriculum section ends */



/* 
 @media screen and(max-width: 576px) {
    .banner{
      flex-direction: column;
    }
 } */