
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Quicksand", serif;
   width: 1240px;
}
/* nav section starts */
.wrapper{
  /* width: px; */
  /* margin: 0px auto; */
}
.navbar{
  width: 1060px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
  margin: 0 auto;
}
.logo{
  display: flex;
  align-items: center;
}
.logo-bars{
  display: none;
}
.school{
  font-size: 2rem;
  font-weight: 700;
}
.btn-primary{
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background-color: orange;
  padding: 5px 25px;
  border: none;
  border-radius: 8px;
}
.nav-links{
  display: flex;
  gap: 0px 50px;
}
.nav-item{
  list-style: none;
}
.nav-link{
  text-decoration: none;
  color: black;
}
.nav-link-1{
  color: orange;
}
.nav-link-2{
  color: skyblue;
}
.nav-link-3{
  color: #05D4DF;
}
.nav-link-4{
  color: #5D58EF;
}
/* nav section ends */
/* banner section starts */
.banner{
  width: 1040px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}
.banner-content{
  width: 600px;
}
.banner-description{
  /* margin: 20px 0px; */
}
.banner-image{
  width: 400px;
}
.banner-image img{
  width: 100%;
}
.banner-title{
  font-size: 3.5rem;
  font-weight: bold;
}
.empower{
  color: orange;
}
.vision{
  color: skyblue;
}
.btn-1{
  background-color: black;
  color: white;
  margin-top: 20px;
}
 .curriculum{
  background: url(assets/bg.png);
  background-position: cover;
  background-repeat: no-repeat;
 }
 .card-container{
  width: 1060px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
 }
.card{
  text-align: center;
  width: 300px;
  padding: 0px 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .095);
  background: linear-gradient(rgb(196, 229, 243) 5%, #ffffff 95%)
}
.card-2{
  text-align: center;
  width: 300px;
  padding: 0px 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .095);
  background: linear-gradient( #e8cca35d 5%, #ffffff 95%)
}
.card-3{
  text-align: center;
  width: 300px;
  padding: 0px 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .095);
  background: linear-gradient(#c088d54c 5%,  #ffffff 95%)
}
 .card-heading{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 3rem;
  font-weight: bold;
 }
  .card-title{
    font-size: 1.5rem;
    font-weight: bold;
  }
  .img-card{
    margin: 40px;
  }
  .card-description{
    padding: 20px 0px;
  }
  .read{
    color: #64C8FF;
    margin-bottom: 20px;
  }
  .read-2{
    color: #F0AA00;
    margin-bottom: 20px;
  }
  .read-3{
    color: #8700FF;
    margin-bottom: 20px;
  }
  .icon{
    width: 50px;
    height: 50px;
    background-color: orange;
    color: white;
    border-radius: 50%;
    padding: 15px;
  }
  .icon-style{
    text-align: center;
    position: relative;
    margin-top: 4rem;
    margin-bottom: -50px;
    /* margin-bottom: 50px; */
    /* margin-top: 4rem; */
  }
/* curriculum section ends */
/* our stories section starts */
 .our-stories{
   background-image: url(assets/bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background: linear-gradient(to right, rgba(245, 195, 101, 0.429),rgba(222, 202, 202, 0.114));
 }
 .section-parent{
  width: 1100px;
  margin: 0 auto;
  display: flex;
  gap: 5px;
  margin-top: 30px;
 }
 .story-title{
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
 }
 .title{
  margin-top: 30px;
 }
 .sub-title{
  font-size: 1rem;
  font-weight: 700;
  padding: 15px;
 }
 .story-description{
  font-size: 1rem;
  font-weight: 500px;
  margin-top: 20px;
  padding: 10px;
 }
 .one-big-image{
  max-width: 400px;
  padding: 10px;
 }
 .big-img-content{
  background-color: #fff;
  border-radius: 10px;
 }
 .one-big-image img{
  width: 100%;
  border-radius: 10px;
 }
 .small-image{
  max-width: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
 }
 .small-img-content{
  background-color: #fff;
  border-radius: 10px;
 }
 .small-image img{
  width: 100%;
  border-radius: 10px;
 }
 .card-btn{
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 15px;
  color: white;
  background-color: #3CD8E8;
  border: none;
  display: block;
  position: relative;
  border-radius: 20px;
  margin-left: 30px;
  margin-top: -30px;
 }
 .img-btn4{
  background-color: #5D58F0;
 }
 .img-btn5{
  background-color: #95B226;
 }
 .view-btn{
  text-align: center;
  padding: 40px 0px;
 }
/* our stories section ends */
/* footer section starts */
.footer{
  width: 1240px;
  background-color:  #01ACFD;
}
.kids-education{
  width: 1070px;
  margin: 0 auto;
  /* background-color: #01ACFD; */
}
  .ft-para{
    color: white;
    margin-top: 20px;
  }
  .ft-logo{
    /* width: 86px; */
   color: white;
  }
  .footer-logo-style{
    display: flex;
    align-items: center;
  }
  .footer-title{
    font-size: 2rem;
    line-height: 28px;
    font-weight: 700;
    color: white;
  }
  .footer-container{
    /* width: 1070px; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* justify-content: space-around; */
    /* padding: 50px; */
    margin: 0px auto;
    padding: 50px;
    /* align-items: center; */
  }
  .about{
    text-align: center;
    color: white;
  }
  .social-head{
    color: white;
    margin-bottom: 15px;
  }
  
  ul li{
    list-style: none;
  }
  ul li a{
    text-decoration: none;
    color: white;
    line-height: 30px;
  }
/* footer section ends */



/* 
 @media screen and(max-width: 576px) {
    .banner{
      flex-direction: column;
    }
 } */